---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="title">
    <h1 class="title">Astro-notion</h1>
    <p>Build an Astro website using Notion as your cms tool</p>
    <a
      href="/posts/Getting-Started-with-Astro-notion-abf4b8e913da4f78af2ab2360ea2c4c7"
    >
      <button class="btn">Get Started</button>
    </a>
  </div>
  <section class="features">
    <div class="feature">
      <div>🚀 Less JavaScript</div>
      <p>
        Astro is a static site generator that automatically reduces the amount
        of JavaScript passed to the user. It reads contents from Notion database
        you provide and build entire site ahead of time.
      </p>
    </div>

    <div class="feature">
      <div>🍰 Easy</div>
      <p>
        Once you're done with setting up the project, you can easily edit your
        post in Notion. This means that you can write and publish your content
        in the desktop app, or even with the mobile version of Notion app.
      </p>
    </div>

    <div class="feature">
      <div>✨ Customizable Style</div>
      <p>
        Astro-notion provides class attributes for each block that gets
        rendered. You can target these class names in css and customize style.
      </p>
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  .title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--size-4) 0;
    background-color: cornsilk;

    h1 {
      font-size: var(--size-8);
      font-weight: bold;
      padding: var(--size-4) 0;
    }

    p {
      font-size: var(--size-4);
      padding: 0 0 var(--size-8) 0;
      max-width: 30ch;
    }

    .btn {
      width: fit-content;
      padding: var(--size-2) var(--size-4);
      background-color: #fff;
      border-radius: var(--size-1);
      outline: 1px solid rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s linear, box-shadow 0.3s linear;

      &:hover {
        background-color: #f5f5f5;
        box-shadow: var(--shadow-btn);
        a {
          color: #b8860b;
        }
      }
    }

    @media (max-width: 425px) {
      h1 {
        font-size: var(--size-6);
      }

      p {
        max-width: 15ch;
        font-size: var(--size-3);
        padding-bottom: var(--size-4);
      }

      .btn {
        padding: var(--size-2);
      }
    }
  }

  .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size-4);
    margin-top: var(--size-8);

    .feature {
      padding: 0 var(--size-5);

      div {
        padding-bottom: var(--size-4);
        font-size: 1.5em;
      }
    }
    @media (max-width: 996px) {
      grid-template-columns: 1fr;

      .feature {
        padding-bottom: var(--size-6);
      }
    }
  }
</style>
