---
import { Icon } from 'astro-icon'

---

<footer>
  <a href="https://github.com/jcha0713/astro-notion">view source code</a>
  <p>© Joohoon Cha 2022</p>
</footer>

<style lang='scss'>
  footer {
    margin-top: var(--size-12);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-2);
  }

</style>
