---
import { Icon } from 'astro-icon';
---

<footer>
  <a href="https://github.com/jcha0713/astro-notion">view source code</a>
  <p>© <a href="https://jhcha.app" target="_blank">Joohoon Cha</a> 2022</p>
</footer>

<style lang="scss">
  footer {
    margin-top: var(--size-8);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-2);
  }
</style>
