---
import { Icon } from 'astro-icon'

---

<nav>
  <div class="title">
    <a href="/">
      <span>Astro-notion</span>
    </a>
  </div>
  <div class='navigation'>
    <a href="/about">About</a>
    <a href="/posts">Blog</a>
    <button class='btn'>
      <a class="link" href="https://github.com/jcha0713/astro-notion">view source code</a>
      <Icon
        class='github-icon'
        name="mdi:github"
        aria-hidden="true"
      />
    </button>
  </div>
</nav>

<style lang='scss'>
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 var(--size-8) 0;
    padding: 0 0 var(--size-4) 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    .title {
      font-size: var(--size-4);
    }


    .navigation {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--size-8);

      .btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--size-2);
        padding: var(--size-2) var(--size-4);
        background-color: antiquewhite;
        border-radius: var(--size-1);
        transition: background-color 0.3s linear, box-shadow 0.3s linear;

        &:hover {
          background-color: #e0e0e0;
          box-shadow: var(--shadow-btn);
          a {
            color: #b8860b;
          }
        }

        .github-icon {
          width: var(--size-4);
        }

      }
    }

    @media (max-width: 768px) {
      .navigation {
        gap: var(--size-3);
        .link {
          display: none;
        }
        .btn {
          background-color: inherit;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 4px;
          margin-left: var(--size-2);
        }
      }
    }

  }
</style>
